<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Détails de l'auteur</title>
</head>
<body>
    <h1>Détails de l'auteur</h1>
        <h2>{{ author.username }}</h2>
        <img src="{{ asset(author.picture) }}" alt="{{ author.username }}" width="200">
        <p>Email : {{ author.email }}</p>
        <p>Nombre de livres : {{ author.nb_books }}</p>
    
</body>
</html>